.editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.editor-wrapper {
  background-color: #fff !important;
  color: #000;
  min-height: 95vh;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
}

// #editor {
// }

@media (min-width: 651px) {
  .codex-editor--narrow .codex-editor__redactor {
    margin-right: 0;
  }
}
